
<nz-layout>
    <nz-affix nzOffsetBottom="0">
        <nz-header>
          <div class="logo">
            <a [routerLink]="['/movies']">
              <img class="logo-image" src="assets/img/geekflix-logo.png">
            </a>
          </div>
          <!-- <i class="restore-button" nz-icon nzType="caret-down" nzTheme="outline"></i> -->
        </nz-header>
    </nz-affix>
    <nz-content>
        <router-outlet></router-outlet>
        <nz-back-top></nz-back-top>
    </nz-content>
    <nz-footer>
        <div class="footer-text">
            GeekFlix ©2020
        </div>
    </nz-footer>
  </nz-layout>