nz-card {
    height: 100%;/* 560px;*/
    /* font-size: 1.1vw; */
}
/* TODO: fix the row height to a constant value */

.drag-handle {
    float: left;
}

.drag-image {
    max-width: 150px;
    /* max-height: 100px; */
}