.navigation {
    text-align: center;
    padding: 20px;
}

.gutter-box {
    padding: 5px;
}

.center {
    margin: auto;
    width: 90%;
    padding: 10px;
}

.breadcrum {
    text-align: left;
    margin-left: 30px;
    padding: 20px;
}

nz-spin {
    padding-top: 250px;
}