<div class="gutter-example">
    <div nz-row nzGutter="16">
        <div *ngFor="let movie of movielist" nz-col class="gutter-row" nzSpan="6">
            <div class="gutter-box">
                <app-movieitem 
                    [name]="movie.original_title" 
                    [id]="movie.id"
                    [description]="movie.overview" 
                    [image]="movie.poster_path"
                    (itemDelete)="removeMovie($event)">
                </app-movieitem>
            </div>
        </div>
    </div>
</div>
<div class="navigation">
    <button nz-button nzType="default" (click)="loadMoreMovies()">More</button>
    <!-- <nz-pagination 
        [nzPageIndex]="currentPage" 
        [nzPageSize]="20" 
        [nzTotal]="totalResults"
        (nzPageIndexChange)="getPage($event)"
        nzShowQuickJumper>
    </nz-pagination> -->
</div>
