<div class="breadcrum">
    <nz-breadcrumb>
        <nz-breadcrumb-item>
            Home
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a routerLink="../../../movies">Movies</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            {{ movieTitle }}
        </nz-breadcrumb-item>
    </nz-breadcrumb>
</div>

<div class="page-background" 
    style="background-image: url({{imagePrefix + movieBackdropImage}});">
    <div class="center">

        <nz-card class="content main-movie">
            <div *ngIf="pageLoading">
                <nz-spin nzTip="Loading...">
                </nz-spin>
            </div>
            <div *ngIf="!pageLoading">
                <div class="poster-container">
                    <img class="poster" alt="example" [src]="imagePrefix + movieImage" />
                </div>
        
                <h1 class="title" nz-title>{{ movieTitle + movieReleaseDate }}</h1>
                
                <h3>Overview</h3>
                <div class="movie-description">
                    <p>{{ movieDescription }}</p>
                </div>
        
                <h3>Rating</h3>
                <nz-select 
                    nzMode="multiple" 
                    nzSize="large"
                    nzPlaceHolder="select emotions" 
                    [(ngModel)]="listOfSelectedValue" 
                    (ngModelChange)="emotionAdded()">
                    <nz-option *ngFor="let option of listOfOption" [nzLabel]="option" [nzValue]="option"></nz-option>
                </nz-select>
            </div>
            
    
        </nz-card>
    </div>
</div>

<div class="related-movie-section center">
    <div *ngIf="hasRelatedMovies">
        <div class="pagination">
            <h2 class="related-title title" nz-title #thenBlock>Similar Movies</h2>
            <nz-button-group nzSize="medium">
                <button nz-button nzType="primary" (click)="getPrevPage()"><i nz-icon nzType="left"></i>Prev</button>
                <button nz-button nzType="primary" (click)="getPage()">Next<i nz-icon nzType="right"></i></button>
            </nz-button-group>
        </div>
    </div> 
    <h2 class="related_title" #elseBlock></h2>
    
    <div *ngFor="let movie of relatedMoviesPage | slice:0:6" nz-col class="gutter-row" nzSpan="4">
        <div class="gutter-box">
            <app-movieitem 
                [name]="movie.original_title" 
                [description]="movie.overview" 
                [image]="movie.poster_path"
                [id]="movie.id"
                (itemDelete)="deleteMovie($event)">
            </app-movieitem>
        </div>
    </div>
    
</div>
